@import 'tailwindcss';

@theme {
  --color-primary: #f0a500;
  --color-secondary: #e45826;
  --color-tertiary: #e6d5b8;
  --color-neutral: #1b1a17;

  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
}
