@import "tailwindcss";

@theme {
  --color-primary: #F0A500;
  --color-secondary: #E45826;
  --color-tertiary: #E6D5B8;
  --color-neutral: #1B1A17;

  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
}
